<?xml version="1.0" encoding="iso-8859-1" standalone="yes"?>
<config>

<service name="CustAddrSvc" firewall-control="auto" />

<!-- recover manager is active and has following settings        -->
<RecoverManager ResetTimeframe="10" RecoverThreshold="3" />

<!-- default healthmanager watches cpu and memory                -->
<HealthManager>
  <CpuLimitWatchDog limit="50" />
  <MemoryLimitWatchdog limit="100" />
</HealthManager>

<!-- endpoints of this  service go here:                          -->
<Endpoint name="any" ip="*" port="9000" server-timing="yes" status="false" >
  <WebHandler class="CustomerAddressHandler" />
</Endpoint>

</config>

